* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sugar;
  color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  height: 30px;
  width: 30px;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  border: 1.5px solid #000;
  z-index: 999999;
  transition: background-image ease 0.5s;
  background-size: cover;
  background-position: center;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  transform: translateY(-100%);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader .icon {
  width: 100%;
  padding: 10px 35px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
.loader .overlay {
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.loader .overlay h1 {
  transform: translateY(100%);
  font-size: 8vw;
  font-family: moranga;
}

.icon > i {
  font-size: 3.5vw;
  cursor: pointer;
  font-weight: 100;
  rotate: 45deg;
  color: #000;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #d4d7d2;
  position: relative;
}
.main .nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px;
}

.nav i {
  color: #000;
  font-size: 2.5vw;
  font-weight: 100;
  cursor: pointer;
  font-style: italic;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: relative;
  padding: 80px 100px;
}
.page2 .box > .elem:first-child {
  border-top: 1px solid #fff;
}
.page2 .box > .elem {
  height: 100px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1002;
}
.page2 .box > .elem > h4 {
  color: #fff;
  font-family: Moranga;
  font-weight: 100;
}

.page2 > h1 {
  color: #fff;
  font-size: 4vw;
  font-weight: 500;
  font-family: moranga;
  margin-bottom: 2vw;
}

.page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .card {
  height: 250px;
  width: 500px;
  border-radius: 100px;
  background-color: rgba(128, 128, 128, 0.379);
  overflow: hidden;
}
.page4 .overlay {
  height: 100%;
  width: 100%;
  background-color: #b995f8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  opacity: 0;
}

.overlay > .up {
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.up > h3 {
  transform: translateY(50px);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay:hover .up > h3 {
  transform: translateY(0);
}